.error{
    color: red;
}
.form{
    border: 2px solid;
    border-color: black;
    background-color: aquamarine;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin-left: 750px;
    margin-top: 50px;
}

